---
import "../style.css";
import Nav from "../components/Nav.astro";
import MeContainer from "../components/MeContainer.astro";
import Speechbubble from "../components/SpeechBubble.astro";
import Charts from "../components/Charts.astro";
import DotChart from "../components/DotChart.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <title>Kezia Hansen</title>
  </head>
  <body>
    <Nav />
    <MeContainer />
    <Speechbubble />
    <Charts />
    <DotChart />
  </body>
</html>
