---
import "../style.css";
---

<section id="contact">
  <p class="section__text__p1">Thanks for visiting my page!</p>
  <h1 class="title">Find me here</h1>
  <div class="contact-info-upper-container">
    <div class="contact-info-container">
      <a href="https://github.com/kezia-hansen">
        <img src="../img/github.png" alt="Github icon" class="icon" />
      </a>
    </div>
    <div class="contact-info-container">
      <a href="https://www.linkedin.com/in/keziahansen/">
        <img src="../img/linkedin.png" alt="LinkedIn icon" class="icon" />
      </a>
    </div>
    <div class="contact-info-container">
      <a href="mailto: kezia.hansen02@gmail.com">
        <img src="../img/mail.png" alt="Email icon" class="icon" />
      </a>
    </div>
  </div>
</section>

<style>
  #contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    margin-top: 125px;
  }

  .contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: r 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: (250, 250, 250);
    margin: 2rem auto;
    padding: 0.5rem;
  }

  .contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
  }

  .icon {
    cursor: pointer;
    height: 5rem;
  }
  .icon:hover {
    transition: all 0.5s;
    transform: translateY(-10px);
  }

  .section__text__p1 {
    text-align: center;
    color: #6e2200;
    font-size: 2rem;
  }

  .title {
    font-size: 4rem;
    text-align: center;
    color: #9c2e0e;
  }

  @media screen and (max-width: 1400px) {
    .about-containers #contact {
      flex-wrap: wrap;
    }
  }

  @media screen and (max-width: 1200px) {
    section {
      margin: 0 5%;
    }
  }

  @media screen and (max-width: 600px) {
    #contact {
      height: 40vh;
    }

    .about-containers,
    .contact-info-upper-container {
      flex-wrap: wrap;
    }
    .contact-info-container {
      margin: 8px;
    }
    .contact-info-container p {
      font-size: 1rem;
    }

    .title {
      font-size: 2rem;
    }
  }
</style>
