<section><h2>HTML <div id="row"><div class="circle blue"></div> <div class="circle blue"></div> <div class="circle blue"></div> <div class="circle blue"></div> <div class="circle green"></div></div></h2></section>
<section><h2>CSS <div id="row"><div class="circle blue"></div> <div class="circle blue"></div> <div class="circle blue"></div> <div class="circle green"></div> <div class="circle green"></div></div></h2></section>
<section><h2>Javascript <div id="row"><div class="circle blue"></div> <div class="circle blue"></div> <div class="circle blue"></div> <div class="circle green"></div> <div class="circle blue green"></div></div></h2></section>
<section><h2>Astro <div id="row"><div class="circle blue"></div> <div class="circle blue"></div> <div class="circle blue"></div> <div class="circle blue"></div> <div class="circle blue green"></div></div></h2></section>
<section><h2>Illustrator <div id="row"><div class="circle blue"></div> <div class="circle blue"></div> <div class="circle blue"></div> <div class="circle green"></div> <div class="circle green"></div></div></h2></section>
<section><h2>Procreate <div id="row"><div class="circle blue"></div> <div class="circle blue"></div> <div class="circle blue"></div> <div class="circle blue"></div> <div class="circle blue"></div></div></h2></section>
<section id="container"><h2>Figma <div id="row"><div class="circle blue"></div> <div class="circle blue"></div> <div class="circle blue"></div> <div class="circle blue"></div> <div class="circle green"></div></div></h2></section>

<style>
  #container,
  h2 {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  h2 > div {
    flex-shrink: 0;
  }
  .circle {
    margin: 5px;
    margin-right: 10px;
  }
  #row {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    text-align: center;
    width: 340px;
  }
  .circle {
    width: 20px;
    height: 20px;
    line-height: 200px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
  }
  .blue {
    background-color: #9c2e0e;
  }
  .green {
    background-color: #fda45f;
  }
</style>
