<footer>
  <nav>
    <div class="nav-links-container">
      <ul class="nav-links">
        <li><a href="https://github.com/kezia-hansen">Github</a></li>
        <li><a href="https://www.linkedin.com/in/keziahansen/">LinkedIn</a></li>
        <li><a href="mailto: kezia.hansen02@gmail.com">Email</a></li>
      </ul>
    </div>
  </nav>
  <p>Copyright &#169; 2024 Designed & Developed by Kezia Hansen. All rights reserved</p>
</footer>

<style>
  nav,
  .nav-links {
    display: flex;
  }

  nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
  }

  .nav-links {
    gap: 4rem;
    list-style: none;
    font-size: 1.5rem;
    padding-right: 2rem;
  }

  a {
    color: #fda45f;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    text-decoration-color: #fda45f;
    text-underline-offset: 1rem;
  }
  footer {
    height: 26vh;
    margin: 0 auto;
    background: #cc5819;
  }

  footer p {
    text-align: center;
  }
</style>
