<section>
  <img src="../img/linkedin.png" alt="LinkedIn ikon " />
  <img src="../img/github.png" alt="Github ikon" />
  <img src="../img/mail.png" alt="Mail ikon" />
</section>

<style>
  section {
    display: flex;
    justify-content: space-around;
    align-items: end;
    flex-direction: row;
    margin-left: 50px;
  }

  section img {
    width: 80%;
    height: auto;
  }

  @media (min-width: 48em) {
    section {
      display: flex;
      justify-content: space-around;
      align-items: end;
      flex-direction: row;
      margin-left: 50px;
    }

    section img {
      width: 12%;
      height: auto;
    }
  }
</style>
