---
import "../style.css";
---

<section id="profile">
  <div class="section__pic-container">
    <img src="../img/kh.png" alt="Cartoon picture of Kezia" />
  </div>
  <div class="section__text">
    <p class="section__text__p1">Hello, i'm</p>
    <h1 class="title">Kezia Hansen</h1>
    <p class="section__text__p2">Frontend Developer</p>
    <p class="section__text__p3">- Creative design and coding in harmony</p>
    <div class="bubble-container">
      <div class="speech left">
        Hey, Let’s Talk!
        <br />
        <br />
        If you'd like to connect on <a href="https://www.linkedin.com/in/keziahansen/">LinkedIn</a> or hit me up by <a href="mailto: kezia.hansen02@gmail.com">email</a>.
      </div>
    </div>
  </div>
</section>

<style>
  #profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
  }

  .section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: 0 auto;
    margin-top: 4rem;
  }

  .section__text {
    align-self: flex-start;
    text-align: center;
    margin-top: 3rem;
  }

  .section__text__p1 {
    text-align: center;
    color: #6e2200;
    font-size: 1.5rem;
  }

  .title {
    font-size: 5rem;
    text-align: center;
    color: #9c2e0e;
  }

  .section__text__p2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #cc5819;
  }

  .section__text__p3 {
    color: #6e2200;
    font-size: 1.5rem;
  }
  /* SPEECH BUBBLE STYLING */

  /* (A) SPEECH BOX */
  .speech {
    /* (A1) FONT & COLORS */
    font-size: 1.2em;
    color: #fee1bb;
    background: #9c2e0e;

    /* (A2) DIMENSIONS */
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
  }

  .speech a {
    color: #fda45f;
    text-decoration: none;
  }

  .speech a:hover {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
  }

  /* (B) USE ::AFTER TO CREATE THE "CALLOUT" */
  .speech::after {
    display: block;
    width: 0;
    content: "";
    border: 15px solid transparent;
  }

  .speech.left::after {
    border-right-color: #9c2e0e;
    border-left: 0;
  }

  /* (D) POSITION THE CALLOUT */
  .speech {
    position: relative;
    margin: 34px;
  }
  .speech::after {
    position: absolute;
  }

  .speech.left::after {
    left: -15px;
    top: calc(50% - 15px);
  }

  @media screen and (max-width: 600px) {
    #profile {
      height: 83vh;
      margin-bottom: 0;
    }
    article {
      font-size: 1rem;
    }

    .about-containers {
      flex-wrap: wrap;
    }

    .section__pic-container {
      width: auto;
      height: 46vw;
      justify-content: center;
    }
    .section__text {
      margin-top: -3rem;
    }
    .section__text__p2 {
      font-size: 1.5rem;
    }
    .section__text__p3 {
      font-size: 1.1rem;
    }
    .title {
      font-size: 3rem;
    }
  }

  @media screen and (max-width: 1200px) {
    #profile,
    .section-container {
      display: block;
    }
    section,
    .section-container {
      height: fit-content;
    }
    section {
      margin: 0 5%;
    }
    .section__pic-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }
    .about-containers {
      margin-top: 0;
    }
  }

  @media screen and (max-width: 1400px) {
    #profile {
      height: 83vh;
      margin-bottom: 8rem;
    }
    .about-containers {
      flex-wrap: wrap;
    }
  }
</style>
