<div id="img">
  <img class="hubbard" src="../img/tickets.png" alt="billeder af biletter" />
  <p id="subtitle">Redesign of Alive Festival</p>
  <p id="subtitle2">Role:</p>
</div>

<style>
  h2 {
    color: #cc5819;
  }

  #wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #ecd9c6;
    height: 100%;
  }

  #img {
    width: 300px;
    margin: 20px;
    display: flex;
    background: #cc5819;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.15);
    border: 6px solid #9c2e0e;
    border-radius: 15px;
  }

  .hubbard {
    height: 90%;
    width: 90%;
    margin: auto;
    padding: 10px;
    padding-top: 15px;
    border-radius: 25px;
  }

  #subtitle {
    color: #9c2e0e;
    font-size: 15px;
  }

  #subtitle2 {
    color: #fda45f;
    text-align: left;
  }
</style>
