---

---

<section>
  <h2>Kompetancer</h2>
  <img src="../img/kh.png" alt="Cartoon billede af Kezia" />
</section>

<style>
  section {
    margin-top: 56px;
    margin-left: 48px;
  }

  h2 {
    position: relative;
    width: 100%;
    color: #cc5819;
  }
  &::after {
    content: "";
    position: absolute;
    margin-left: 231px;
    height: 4px;
    width: 112%;
    top: 81.3%;
    background: #cc5819;
  }
</style>
