/* Hentning af Fonte */
@font-face {
    font-family: 'cherry_bomb_oneregular';
    src: url('/fonte/cherrybombone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* GENERAL STYLING */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'cherry_bomb_oneregular';
    background: #FEE1BB;
}


p {
    color: #9C2E0E;
}


/* TRANSITION */

.btn {
    transition: all 300ms ease;
}